/Demo/.vs
/Demo/Demo/Demo/obj
/Demo/Demo/Demo/bin
/Demo/Demo/Demo.Android/Demo.Android.csproj.user
/Demo/Demo/Demo.Android/bin
/Demo/Demo/Demo.Android/obj
/Demo/Demo/Demo.iOS/obj
/Demo/Demo/Demo.iOS/bin
